/******************************** Style Guide ****************************************/
:root {
    /****************** Colors ******************/
    --blue900: #13183F;
    --blue600: #666CA3;
    --pink600: #F74780;
    --pink300: #FFA7C3;
    --grey: #83869A;
    --white: #FFFFFF;
    --whiteGray: #F0F1FF;
    --grapink: #F02AA6;
    --graora: #FF6F48;
    --grapur: #4851FF;

    /******************* Gradients *****************************/
    --gradientPink: linear-gradient(to bottom, var(--graora) 0%, var(--grapink) 100%);
    --gradientPurple: linear-gradient(to bottom, var(--grapur) 0%, var(--grapink) 100%);
    --gradientWhite: linear-gradient(to bottom, var(--white) 0%, var(--whiteGray) 100%);

    /***************** Hover Gradient ***************/
    --filterrr: brightness(1.7);

    /******************** Typografic *****************/
    --fuentePrincipal: "Plus Jakarta Sans", sans-serif;

}

/***************************************** Globales *************************************/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    letter-spacing: 0px;
    background: var(--gradientWhite);
}
h1{
    font-size: 5.6rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.4rem;
}
h5 {
    font-weight: 700;
    font-size: 1.6rem;
}
h6 {
    font-weight: 700;
    font-size: 1.8rem;
}
p {
    font-weight: 500;
    font-size: 1.8rem;
}
h1, 
h2, 
h3, 
h4 {
    font-weight: 800;
    line-height: 120%;
}
h5,
h6,
p {
    line-height: 150%;
}
a {
    text-decoration: none;
}
img {
    display: block; /* Para eliminar posibles espacios extra */
    max-width: 100%; /* Asegúrate de que no sobrepase el contenedor */
}

/********************************************** Utilidades *******************************/
.container {
    margin:0 3rem;
}
@media (min-width: 768px){
    .container {
        margin: 0 6rem;
    }
}
@media (min-width: 1050px){
    .container {
        max-width: 120rem;
        margin: 0 auto;
    }
}

/******************************************** Navegacion *******************************/
.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacion__boton {
    background-color: var(--blue900);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--white);
    border-radius: 5rem;
    width: 19rem;
    height: 6rem;
    font-size: 2.3rem;
    border: 1px solid;
}
.navegacion__boton:hover {
    background-color: var(--blue600);
}

/***************************************** Hero ***************************************/
@media (min-width: 768px){
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (min-width: 1024px){
    .hero__contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.hero__titulo {
    color: var(--blue900);
    padding-bottom: 3rem;
}
.hero__descripcion {
    padding-bottom: 3rem;
    color: var(--grey);
}
.hero_boton {
    background: var(--gradientPink);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--white);
    border-radius: 5rem;
    border: 1px solid;
    width: 19rem;
    height: 6rem;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}
.hero_boton:hover {
    filter: var(--filterrr);
}

/************************************* Content ************************************/
@media (min-width: 768px){
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
    }
}
@media (min-width: 1024px){
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
}
.content__titulo {
    background: var(--gradientPink);
    padding: 2rem;
    border-radius: 1.5rem;
    color: var(--white);
    margin: 4rem 0 0 0;
}
.content__card {
    padding: 4rem;
    margin-top: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
}
.content__card-img {
    display: flex;
    margin-top: -6.5rem;
    
}
.content__card-descripcion {
    color: var(--grey);
}
.content__card-boton {
    background-color: var(--white);
    border: 0px solid var(--white);
    color: var(--pink600);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
}
.content__card-boton:hover {
    color: var(--pink300);
}

/********************************* Footer ***************************************/
.footer {
    background-color: var(--blue900);
    margin-top: 4rem;
}
.footer__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contenido-titulo {
    color: var(--white);
}
.footer__contenido-boton {
    background: var(--gradientPurple);
    color: var(--white);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    border-radius: 5rem;
    width: 19rem;
    height: 6rem;
    font-size: 2.3rem;
    border: 1px solid var(--gradientPurple);
}
.footer__contenido-boton:hover {
    filter: var(--filterrr);
}